<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h3 class="text-muted">Verizon Report Files</h3>
      </div>
      <hr/>
      <div>
      <a href="/report1/" target="blank"><button class='btn btn-default'>VZW Report!</button></a>
      <br /><br />
      <a href="/report2/" target="blank"><button class='btn btn-default'>Data Charge CSV</button></a>
      <br /><br />
      <a href="/report3/" target="blank"><button class='btn btn-default'>Charges CSV</button></a>
      <br /><br />
      <a href="/report4/" target="blank"><button class='btn btn-default'>Equipment CSV</button></a>
      </div>
    </div>
  </body>
</html>
 
